In [1]:
import pandas as pd
import plotly

import plotly.express as px
import importlib
import asana
import wartsila_asana_utils as wa

In [2]:
importlib.reload(wa)

In [3]:
rsc_task_list = wa.get_api_rsc_tasks()
df_tasks = wa.make_rsc_tasks_df(rsc_task_list)
df_tasks = wa.prep_task_display_table(df_tasks)

In [7]:
df_t = df_tasks

In [5]:
df_tasks['assignee_name'].unique()

array(['unassigned', 'Jason Hoffman', 'Mina Ibrahim', 'Brian Pizzi',
       'alec.stablow@wartsila.com', 'Al Ibay', 'Tuomas Valkama',
       'luis.gonzalez@wartsila.com', 'jesse.bonderer@wartsila.com',
       'Glen Jarvis', 'Robert Björkman', 'Alejandro Azocar',
       'duon.ki@wartsila.com', 'Antti Pitkänen', 'Derek Chung', 'Aslan',
       'ronald.baldwin.@wartsila.com', 'Daniel Palacios',
       'ethan.weiss.@jjbluepower.com', 'jari.vanio.@jjbluepower.com',
       'Renato Pinto Mota', 'Adam Abdool', 'Jonathan Dennis',
       'Scott Billups', 'Asem Ahmed', 'William Thomas Sprague',
       'igor.drozd@wartsila.com', 'raul de jesus', 'Emmanuel Bacani',
       'Toni Jokela', 'Ville Tuomaala', 'Kaushik Kannan',
       'scott.blalock@wartsila.com', 'Tommy Södergård', 'Aman Fatma',
       'Pasi Saarela', 'Ian Burdeos', 'javier.fernandez@wartsila.com',
       'Rob Toland', 'Edward Simon', 'Rigel G', 'Victor Evsikov',
       'anthony.talak@wartsila.com', 'Bhargav Kandula', 'Daniel Jurcola',
       'James Bott', 'Jens Appel', 'Yuxuan Wang', 'none@none.com',
       'Kari Tuominen', 'jaakko.porre@wartsila.com', 'Mathias Smeds',
       'Mahesh Warusapperuma', 'Balamurugan M', 'Steve Wilmot',
       'Howard Fu', 'liong.yamcheng_external@wartsila.com',
       'jouko.kieksi@wartsila.com', 'antti.varjyvirta@wartsila.com',
       'Bruce Strassburg', 'Mikko Honkaniemi', 'Olli Yli-Karjanmaa',
       'james.shea@wartsila.com', 'robert.harris_external@wartsila.com',
       'john.white@wartsila.com', 'pn.reddy@wartsila.com',
       'Lakshmanan Nellaipalli', 'Marc Pelletier', 'Vivek Saxena',
       'Mikael Hudd', 'Ahmed Darwish', 'Max Enegren', 'Mahdi Shahparasti',
       'Fernando', 'jarmo.haiko@external.prohoc.com', 'Nabeel Yaseen',
       'Jason James', 'Daniel Hockborn', 'Tuomo Koskela', 'Kim Ahlström'],
      dtype=object)

In [57]:
df_cx_mgr_una = df_tasks[df_tasks['role']=='Commissioning Manager'].sort_values('start_date')
df_cx2 = df_cx_mgr_una[df_cx_mgr_una['region']=='AMER']
df_cx2 = df_cx2[df_cx2['assignee_name']=='unassigned']
df_cx2

,assignee_name,role,region,eso_project_name,start_date,due_date,project_type
155,unassigned,Commissioning Manager,AMER,P/20210 Eurus LaPaz (Eolica Coromuel) [EEQ],NaT,NaT,no_type
214,unassigned,Commissioning Manager,AMER,P/21454 Enel Blue Jay,NaT,NaT,no_type
225,unassigned,Commissioning Manager,AMER,P/21464 Brookfield Rumford B,NaT,NaT,no_type
232,unassigned,Commissioning Manager,AMER,P/21465 Brookfield Bonny Eagle,NaT,NaT,no_type
238,unassigned,Commissioning Manager,AMER,P/21466 Brookfield Berlin,NaT,NaT,no_type
250,unassigned,Commissioning Manager,AMER,P/21467 Daggett 3B [EEQ],NaT,NaT,no_type
256,unassigned,Commissioning Manager,AMER,P/21467 Daggett 3CD [EEQ],NaT,NaT,no_type
262,unassigned,Commissioning Manager,AMER,P/21467 Daggett 3E [EEQ],NaT,NaT,no_type
269,unassigned,Commissioning Manager,AMER,P/21468 Enel Roseland,NaT,NaT,no_type

,assignee_name,role,region,eso_project_name,start_date,due_date,project_type
264,Antti Pitkänen,Commissioning Manager,AMER,P/21468 Enel Roseland,2022-08-10,2022-10-31,no_type
212,Antti Pitkänen,Commissioning Manager,AMER,P/21454 Enel Blue Jay,2022-08-10,2022-10-31,no_type
218,Antti Pitkänen,Commissioning Manager,AMER,P/21213 Colbun Diego de Almagro,2022-09-13,2022-11-22,no_type
139,Antti Pitkänen,Commissioning Manager,AMER,P/17402 WAPA RHPP [EPC],2022-10-14,2023-03-06,no_type
188,Antti Pitkänen,Commissioning Manager,AMER,P/21207_BPL Bahamas,2023-01-02,2023-02-13,no_type
244,Antti Pitkänen,Commissioning Manager,AMER,P/21467 Daggett 3A [EEQ],2023-02-07,2023-11-06,no_type
276,Antti Pitkänen,Commissioning Manager,AMER,P/21469 GA Power Mossy Branch,2023-03-18,2023-09-21,no_type

In [8]:
def get_unassigned_tasks_by_role(df, role):
    df = df[df['role'] == role]
    
    if role == 'Commissioning Manager':
        df = df[df['assignee_name'] == 'Antti Pitkänen']
    else:
        df = df[df['assignee_name']=='unassigned']
        
    return df

In [9]:
def remove_unassigned_tasks_by_role(df, role):
    df = df[df['role'] == role]
    
    if role == 'Commissioning Manager':
        df = df[df['assignee_name'] != 'Antti Pitkänen']
        df = df[df['assignee_name'] !='unassigned']
    else:
        df = df[df['assignee_name'] !='unassigned']
    return df

In [10]:
get_unassigned_tasks_by_role(df_t, 'Commissioning Manager')

,assignee_name,role,region,eso_project_name,start_date,due_date,project_type
139,Antti Pitkänen,Commissioning Manager,AMER,P/17402 WAPA RHPP [EPC],2022-10-14,2023-03-06,no_type
188,Antti Pitkänen,Commissioning Manager,AMER,P/21207_BPL Bahamas,2023-01-02,2023-02-13,no_type
212,Antti Pitkänen,Commissioning Manager,AMER,P/21454 Enel Blue Jay,2022-08-10,2022-10-31,no_type
218,Antti Pitkänen,Commissioning Manager,AMER,P/21213 Colbun Diego de Almagro,2022-09-13,2022-11-22,no_type
244,Antti Pitkänen,Commissioning Manager,AMER,P/21467 Daggett 3A [EEQ],2023-02-07,2023-11-06,no_type
264,Antti Pitkänen,Commissioning Manager,AMER,P/21468 Enel Roseland,2022-08-10,2022-10-31,no_type
276,Antti Pitkänen,Commissioning Manager,AMER,P/21469 GA Power Mossy Branch,2023-03-18,2023-09-21,no_type

In [12]:
get_unassigned_tasks_by_role(df_t, 'Commissioning Engineer')

,assignee_name,role,region,eso_project_name,start_date,due_date,project_type
3,unassigned,Commissioning Engineer,no_region,OP/795054 - Letzer B,2023-04-18,2023-10-16,no_type
15,unassigned,Commissioning Engineer,no_region,OP/793616 - Colbun Diego Almagro (Expansion),2023-03-08,2023-09-05,no_type
25,unassigned,Commissioning Engineer,no_region,OP/791407 - Fortune 1,2023-03-01,2023-08-29,no_type
36,unassigned,Commissioning Engineer,no_region,OP/791290 - CUC Prospect (EPC),2023-01-30,2023-07-28,no_type
47,unassigned,Commissioning Engineer,no_region,OP/790697 Letzer A (Ming Hsing),2023-03-01,2023-08-29,no_type
58,unassigned,Commissioning Engineer,no_region,OP/782224 Pemcorp BES,2023-02-02,2023-08-02,no_type
69,unassigned,Commissioning Engineer,no_region,OP/781999 - Enel El Manzano,2023-02-15,2023-08-15,no_type
80,unassigned,Commissioning Engineer,no_region,OP/765991 - Enel Chillingham,2023-03-17,2023-09-14,no_type
89,unassigned,Commissioning Engineer,no_region,OP/765996 - Don Humberto,2023-02-15,2023-08-15,no_type
102,unassigned,Commissioning Engineer,no_region,OP/747855 - Origin Eraring,2023-07-14,2024-01-11,no_type
113,unassigned,Commissioning Engineer,no_region,OP/725875 - BESS Hydesville Substation (EPC),2023-02-02,2023-08-02,no_type
194,unassigned,Commissioning Engineer,AMER,P/21215 Suriname,NaT,NaT,no_type
282,unassigned,Commissioning Engineer,AMER,P/22451 Duke Riverside,NaT,NaT,no_type

In [35]:
rsc_tasks_clean = df_tasks

left_edge = '2022-08-01'
right_edge = '2025-09-01'
selected_roles = ['Commissioning Manager'] #['CPE Electrical']
#selected_assignees = []
selected_regions = [['AMER']]

df_rf = wa.filter_tasks_by_time_window(rsc_tasks_clean, left_edge, right_edge)
df_rf = wa.filter_tasks_by_role(df_rf, selected_roles)
#df_rf = filter_tasks_by_assignee(df_rf, selected_assignees)
df_rf = wa.filter_tasks_by_region(df_rf, selected_regions)

df_rf = remove_unassigned_tasks_by_role(df_rf, 'Commissioning Manager')
df_rf

,assignee_name,role,region,eso_project_name,start_date,due_date,project_type
126,Al Ibay,Commissioning Manager,AMER,P/21463 LeConte Energy Storage,2022-02-04,2022-08-21,no_type
177,raul de jesus,Commissioning Manager,AMER,P/20462 Mililani,2022-01-04,2022-08-06,no_type
201,Ian Burdeos,Commissioning Manager,AMER,P/21450 Madero,2021-10-28,2022-08-09,no_type

In [43]:
def get_assigned_tasks_by_role(df, role):
    df = remove_unassigned_tasks_by_role(df,role)
    return df

In [49]:
df_avail = get_assigned_tasks_by_role(df_rf, 'Commissioning Manager')
df_avail

,assignee_name,role,region,eso_project_name,start_date,due_date,project_type
126,Al Ibay,Commissioning Manager,AMER,P/21463 LeConte Energy Storage,2022-02-04,2022-08-21,no_type
177,raul de jesus,Commissioning Manager,AMER,P/20462 Mililani,2022-01-04,2022-08-06,no_type
201,Ian Burdeos,Commissioning Manager,AMER,P/21450 Madero,2021-10-28,2022-08-09,no_type

In [46]:
def check_dates_overlap(dt_1_start, dt_1_end, dt_2_start, dt_2_end): 
    if (dt_1_start <= dt_2_end) & (dt_1_end >= dt_2_end): 
        return True
    else: 
        return False

In [50]:
df_a = df_avail.copy()